<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cute Fckn' tanks!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body ng-app="main">
    <div class="panel panel-default">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a game
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="create()"><icon>play-circle</icon> Create</button>
                    </span>
                    <input type="text" class="form-control" ng-model="gameCode" placeholder="(desired) Game code" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Join a game
            </div>
            <div class="panel-body">
                <h4>Join by room code</h4>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="gameCode" placeholder="(desired) Game code" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="join()" type="button">Join! <icon>share-alt</icon></button>
                    </span>
                </div>
                <h4>Games online ({{rooms.length}})</h4>
                <div class="activeRooms">
                    <button class="btn room" ng-repeat="room in rooms | orderBy: '-players.length'" ng-click="join(room.id)" ng-style="{'background-color': getColor(room)}">
                        <icon>play-circle</icon> {{room.id}} - [{{room.players.length}}/{{room.capacity}}]
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div id="others" class="container-fluid">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="/dist/lobby.bundle.js"></script>
</body>

</html>
